<html>
<body>
<div class="row g-4 align-items-center">
    <br>
    <br>
<span class="input-group-text" id="inputGroup-sizing-default">Username:</span>
 <input type="text"   class="form-control"  [(ngModel)]="username">
 <span class="input-group-text" id="inputGroup-sizing-default">password:</span>
 <input type="password"  class="form-control"  [(ngModel)]="password">
 <br>
 <br>
 

<p class="text-center">
<button (click)="login()" class="row g-4 align-items-center" class="btn button">Login</button>

</p>
</div>
</body></html>